.row {
    display: flex;
}

.column {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    margin: 15px;
    padding: 15px;
    text-align: right;
    overflow: hidden;
    height: 100px;
    transition: all .2s ease-in-out;
    position: relative;
}

#nav a {
    float: left;
    display: inline-block;
    padding: 10px;
    color: whitesmoke;
    padding: 14px 16px;
    font-size: 32px;
    text-decoration: none;
    
}

#nav a:hover:not(.active) {
    border: 1px solid greenyellow;
    border-radius: 15px;
    margin: -1px;
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 2px rgba(255, 255, 255, 0.103);
}

#nav a.active {
    color: greenyellow;
    text-decoration: underline 1px;
}

body {
    background: rgb(0, 10, 20);
    font-family: Arial, Helvetica, sans-serif;
}

p, li, h1, h2 {
    color:whitesmoke;
}

a:link, a:visited {
    color: whitesmoke;
}

a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

p {
    width: auto;
    text-align: justify;
    font-size: 24px;
}

h2 {
    font-size: 35px;
}

li {
    font-size: 24px;
}

.cursor {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    box-shadow: 0px 0px 60px 55px yellowgreen;
}