.nav {
    margin: 15px;
    padding: 15px;
    text-align: right;
    overflow: hidden;
    height: 150px;
    transition: all ease 0.2s;
    position: relative;
}

.nav a {
    float: left;
    display: inline-block;
    padding: 10px;
    color: whitesmoke;
    padding: 14px 16px;
    font-size: 32px;
    text-decoration: none;
    
}

.nav a:hover:not(.active) {
    border: 1px solid greenyellow;
    border-radius: 15px;
    margin: -1px;
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 2px rgba(255, 255, 255, 0.103);
}

.nav a.active {
    color: greenyellow;
    text-decoration: underline 1px;
}

.nav-right {
    color: whitesmoke;
    font-size: 48px;
    text-decoration: none;
    float: right;
    padding-top: 20px;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.664285782672444) 0%, rgba(2,0,36,1) 18%, rgba(2,0,36,1) 100%, rgba(0,0,0,0.6614846622242647) 100%); 
    font-family: Arial, Helvetica, sans-serif;
}

