img {
    border-radius: 15px;
    box-shadow: 0px 0px 5px #fff;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
}

iframe {
    border-radius: 15px;
    max-width: 100%;
    width: 560px; 
    height: 315px;
}

p {
    color: whitesmoke;
    font-size: 24px;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

li {
    color: whitesmoke;
    font-size: 24px;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.links {
    color: #fff;
}
.links:hover {
    color: greenyellow;
    text-decoration: underline;
}

.wrapper {
    padding: 30px;
    display: flex;
    justify-content: center;
    max-width: 100%;
}


details {
    width: 100%;
    max-width: 500px;
}

summary {
    background: #f2f2f2;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
}

.summaryNupp {
    transition: all .2s ease-in-out;
}
.summaryNupp:hover {
    transform: scale(1.1);
}