p {
    color: rgb(242, 161, 10);
    font-size: 24px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    width: auto;
}

img {
    border-radius: 35px;
    box-shadow: 0px 10px 25px rgb(225, 149, 82);
    width: 400px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 30px;
}

li  {
    color: rgb(242, 161, 10);
    font-size: 24px;
    margin-left: 50px;
}

h2 {
    color: rgb(242, 161, 10);
    font-size: 35px;
    margin-left: 50px;
    display: inline-flex;
    
}

.meem {
    height: 300px;
}

iframe {
    border-radius: 15px;
    max-width: 100%;
    width: 560px; 
    height: 315px;
}